


a {
    text-decoration: none !important;
    text-transform: none;
    text-decoration-line: none;
}

a:hover ,  a:active {
    text-decoration:   none !important;
    text-decoration-line: none;

}